body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}
.header {
  background: url(bg.jpg);
  color: rgb(255, 255, 255);
  background-size:115%;
  background-position: 0%;
  padding: 2rem 0;
  text-align: center;
}
.navbar {
  background-color: #e9ecff;
  padding: 0.5rem 0;
  text-align: center;
}
.navbar a {
  margin: 0 15px;
  color: #004080;
  text-decoration: none;
  font-weight: bold;
}
.navbar a:hover {
  text-decoration: underline;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.section {
  padding: 3rem 0;
  border-bottom: 1px solid #ccc;
}
.section h2 {
  color: #004080;
  margin-bottom: 1rem;
}
.education{
  background: white;
  border: 1px solid #1185ea5a;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.accomplishments-list{
  list-style-type: none;
  padding: 0;
}
.accomplishments-list li {
  background: #dbe9f4;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-left: 5px solid #1185ea;
}
.skills-list {
  list-style-type: none;
  padding: 0;
}
.pro-skills-list {
  list-style-type: none;
  padding: 0;
}
.pro-skills-list li {
  background: #dbe9f4;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-left: 5px solid #1185ea;
}
.skills-list li {
  background: #dbe9f4;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-left: 5px solid #004080;
}
li:hover{
  background-color: #a2d2f3;
}

.footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
